@import '../../global/style/mixins';

$root: '.material-stepper';

#{$root} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: auto;

  &_header {
    margin-bottom: 4.28em;
  }

  &_body {
    overflow: scroll;
    height: 32.14em;
  }

  &_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
