@import '../../../global/style/variable';

$root: '.card';

#{$root} {
  background-color: $primary-bg-color;
  border-radius: 0.57em;
  box-shadow: $card-box-shadow;
  padding: 1.42em;
  cursor: pointer;
}
