@import '../../../global/style/variable';

$root: '.card';

#{$root} {
  background-color: $primary-bg-color;
  border-radius: 8px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 20px;
}
