@import '../../global/style/variable', '../../global/style/mixins';

$root: '.task-card';

#{$root} {
  display: flex;
  flex-direction: column;
  @include vertically-spaced-out(0.35em);

  &_header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .title {
      font-family: $semi-bold-font;
      font-size: 1.14rem;
      color: $primary-text-color;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    svg {
      color: $error-text-color;
    }
  }

  &_description {
    font-size: 1rem;
    color: $description-text-color;
  }

  &_assignee {
    display: flex;
    justify-content: flex-end;
  }
}
