@import '../../../global/style/variable', '../../../global/style/mixins';

$root: '.create-task';

#{$root} {
  width: 80%;

  .MuiDialogTitle-root {
    font-size: 1.42rem;
    font-family: $semi-bold-font;
    color: $secondary-text-color;
    padding: 1.2em;
  }

  &_body {
    @include vertically-spaced-out(1em);
  }

  &_atn {
    margin-bottom: 1rem;
    margin-right: 1.14em;
    @include horizontally-spaced-out(0.71em);

    .material-button {
      &.MuiButton-contained {
        background-color: $secondary-text-color;
        width: 12.85em;
      }
      &.MuiButton-text {
        color: $secondary-text-color;
        width: 12.85em;
      }
    }
  }
}
