@import '../../../global/style/variable', '../../../global/style/mixins';

$root: '.create-task';

#{$root} {
  width: 80%;

  .MuiDialogTitle-root {
    font-size: 1.42rem;
    font-family: $semi-bold-font;
  }

  &_body {
    @include vertically-spaced-out(1em);
  }

  &_atn {
    @include horizontally-spaced-out(0.71em);
  }
}
