@import '../../global/style/variable', '../../global/style/mixins';

$root: '.task-board';

#{$root} {
  display: flex;
  align-items: flex-start;
  padding: 1.28em;
  margin-top: 1.14em;
  @include horizontally-spaced-out(1em);
}
