@import '../../../global/style/variable', '../../../global/style/mixins';

$root: '.registration-form';

#{$root} {
  &_header {
    font-size: 2rem;
    font-family: $semi-bold-font;
    color: $secondary-text-color;
  }

  &_error {
    font-size: 0.85rem;
    color: $error-text-color;
    margin: 0 !important;
  }

  &_body {
    display: flex;
    width: 100%;
    @include horizontally-spaced-out(1em);
  }
}
