@import '../../global/style/variable', '../../global/style/mixins';

$root: '.authentication';

#{$root} {
  height: 100%;
  padding: 3.42em 1.42em 2.28em 1.42em;
  background-color: $primary-theme-color;

  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    @include vertically-spaced-out(1em);

    &.card {
      padding: 2.28em;
    }
  }
}
