@import '../../global/style/variable', '../../global/style/mixins';

$root: '.taskboard-header';

#{$root} {
  display: flex;
  flex-direction: column;
  padding: 1em 1.28em 0 1.28em;
  margin-top: 1.42em;
  @include vertically-spaced-out(1.71em);

  &_search-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .MuiTextField-root {
      flex: 1;
    }

    .user {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 2;
      @include horizontally-spaced-out(0.57em);

      .name {
        font-size: 1.14rem;
        text-transform: capitalize;
      }

      svg {
        cursor: pointer;
        color: $secondary-text-color;
      }
    }
  }

  &_filter-section {
    display: flex;
    align-items: center;

    .title {
      font-size: 2rem;
      font-family: $regular-font;
      letter-spacing: 0.03em;
      margin-left: 0.42em;
      margin-right: 0.64em;
    }

    .members {
      display: flex;
      align-items: center;
      @include horizontally-spaced-out(0.07em);
    }
  }
}
