@import '../../../global/style/variable', '../../../global/style/mixins';

$root: '.task-list';

#{$root} {
  padding: 1em 0.71em;
  display: flex;
  flex-direction: column;
  background-color: $secondary-bg-color;
  width: 25em;
  @include vertically-spaced-out(0.57em);

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.14rem;
    font-family: $semi-bold-font;
    margin-bottom: 0.87em;

    &_list-type {
      color: $primary-text-color;
    }

    &_task-count {
      padding: 0.14em 0.57em;
      color: $secondary-text-color;
      background-color: $primary-theme-color;
      border-radius: 0.28em;
    }
  }

  &_atnBtn {
    &.MuiButton-root {
      margin-bottom: 0.71em;
      background-color: $primary-theme-color;
      color: $secondary-text-color;
      box-shadow: none;
      &:hover {
        background-color: $primary-theme-color;
        box-shadow: none;
      }
    }
  }
}
