/* Colors */
$primary-theme-color: #e8f2f1;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f9fa;
$error-bg-color: #f6ebe8;

$primary-text-color: #000000;
$secondary-text-color: #6aa7b3;
$ternary-text-color: #ffffff;
$description-text-color: #757575;

$error-text-color: #d0021b;

/* Typography */
$regular-font: 'Heebo-Regular';
$medium-font: 'Heebo-Medium';
$bold-font: 'Heebo-Bold';
$semi-bold-font: 'Heebo-SemiBold';
$extra-bold-font: 'Heebo-ExtraBold';
