@font-face {
  font-family: 'Heebo-Regular';
  src: local('Heeno-Regular'),
    url('../../assets/fonts/Heebo/Heebo-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Heebo-Medium';
  src: local('Heeno-Medium'),
    url('../../assets/fonts/Heebo/Heebo-Medium.ttf') format('woff');
}

@font-face {
  font-family: 'Heebo-Bold';
  src: local('Heeno-Bold'),
    url('../../assets/fonts/Heebo/Heebo-Bold.ttf') format('woff');
}

@font-face {
  font-family: 'Heebo-SemiBold';
  src: local('Heeno-SemiBold'),
    url('../../assets/fonts/Heebo/Heebo-SemiBold.ttf') format('woff');
}

@font-face {
  font-family: 'Heebo-ExtraBold';
  src: local('Heeno-ExtraBold'),
    url('../../assets/fonts/Heebo/Heebo-ExtraBold.ttf') format('woff');
}
