@import '../../../global/style/variable', '../../../global/style/mixins';

$root: '.add-member-form';

#{$root} {
  &_header {
    font-size: 2rem;
    font-family: $semi-bold-font;
    color: $secondary-text-color;
  }

  &_body {
    width: 100%;
    @include vertically-spaced-out(1.14em);

    .member-details {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name {
        font-size: 1.28rem;
        font-family: $semi-bold-font;
        letter-spacing: 1px;
        margin-left: 0.45em;
      }

      .atnBtn {
        display: flex;
        @include horizontally-spaced-out(0.71em);

        svg {
          color: $secondary-text-color;
          cursor: pointer;
        }
      }
    }

    .form {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_fields {
        display: flex;
        align-items: center;
        @include horizontally-spaced-out(1em);
      }

      &_atnBtn {
        display: flex;
        @include horizontally-spaced-out(0.71em);

        svg {
          color: $secondary-text-color;
          cursor: pointer;
        }
      }
    }
  }

  &_atnBtn {
    &.MuiButton-root {
      margin-bottom: 0.71em;
      background-color: $primary-theme-color;
      color: $secondary-text-color;
      box-shadow: none;
      &:hover {
        background-color: $primary-theme-color;
        box-shadow: none;
      }
    }
  }
}
