@import '../../../global/style/variable';

$root: '.avatar';

#{$root} {
  font-size: 0.85rem;
  width: 2.5em;
  height: 2.5em;
  font-family: $regular-font;
  background: var(--bg-color);
  color: $ternary-text-color;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;

  &.active {
    border: 0.25em solid $secondary-text-color;
  }
}
