@import '../../../global/style/variable';

$root: '.avatar';

#{$root} {
  width: 30px;
  height: 30px;
  font-size: 12px;
  font-family: $regular-font;
  background: var(--bg-color);
  color: $ternary-text-color;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;

  &.active {
    border: 3px solid $secondary-text-color;
  }
}
